.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

body{
    background-size: cover;
}


.note
{
    font-size: 15px;
    color:black;
   }


   .play_button {
       width:130px;
       font-size:25px;
   }

    canvas {
        border:5px solid white;
        box-shadow: 10px yellow;
        border-radius: 40px;        
    }